<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix="Test.php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<php>
		<env name="PORT" value="5000" />
	</php>
</phpunit>
